.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  padding: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding: 0.5rem;
}

.textWrapper {
  position: fixed;
  background-color: rgba(245, 222, 179, 0.411);
}
